#AddHandler application/x-httpd-php54 .php
#AddHandler application/x-httpd-php .php .htm

<IfModule mod_rewrite.c>
  # 404 error prevention for non-existing redirected folders
  # Prevent spidering of non-canonical URLs,
  # such as `[*.]staging.*` and `production.*`.
  #RewriteCond %{HTTP_HOST} (^local|staging|^production)
  #RewriteRule ^robots.txt$ no_robots.txt [L]
  #RewriteRule ^wp-admin/includes/ - [F,L]
  #RewriteRule !^wp-includes/ - [S=3]
  #RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
  #RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
  #RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

<files wp-config.php>
order allow,deny
deny from all
</files>

# BEGIN WordPress
<IfModule mod_rewrite.c>
Options -MultiViews -Indexes
RewriteEngine On
RewriteBase /
Options +FollowSymlinks
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

<FilesMatch ".(ttf|otf|woff)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
