body {
  height: auto;
}
body.wp-admin {
  ul, ol {
    margin-bottom: 0;
  }
  #footer-left {
    display: none;
  }
  #footer-upgrade {
    display: none;
  }
  /*
   *#footer-thankyou {
   *  display: none;
   *}
   */
  &.post-new-php .shortcode-wrap {
    display: none;
  }
}


body.wp-admin.wp-core-ui a,
body.wp-admin.wp-core-ui a:link {
  color: #111;
}

.wpbody-content {
  a {
    color: #111;
  }
}

.tablenav .displaying-num {
  color: #fff;
}

body {
  color: #fff;
}

body.iframe {
  color: #111;
}

.updated,
.inline,
.below-h2,
.fade,
.error {
  color: #111;
}


body.login {
  label {
    font-variant: small-caps;
    text-transform: lowercase;
  }
  #login_error { }
  #loginform { }
  background-color: #28608a;
  a {
    color: #fff !important;
    /*text-shadow: 0 0 1px #444;*/
    text-shadow: none;
  }
}
.login #backtoblog {
}

body.login,
body.login input {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}
body.login #login,
body.login #lostpasswordform {
  br {
    display: none;
  }

  .button { 
    background-color: #ccc;
    border: 1px #ccc solid;
    color: #fff;
    text-shadow: 0 0 1px #444;
    box-shadow: none !important;
  }
  .button-primary {
  }
  .button-large {
  }

  h1 {
    a {
      background-image: url('./images/logo-9001.png');
      height: 100px;
    }
  }
  .message {
    background-color: #f1f1f1;
    color: #333;
  }
  .input {
    background-color: #fff;
    border: 4px solid #ccc;
    box-shadow: none;
    color: #28608a;
  }
  & form {
    /*
     *background-color: #f1f1f1;
     */
    background-color: transparent;
    box-shadow: none;
    p > label {
      color: #fff; 
      /*
       *text-shadow: 0px 1px 0px #173c56;
       */
    }
  }
  p.forgetmenot {
    margin-bottom: 1rem;
  }
  .submit {
    text-align: center;
    #wp-submit {
      text-shadow: none;
      border-radius: 0 !important;
      @include button;
      font-variant: small-caps;
      text-transform: lowercase;
      border-width: 4px;
      text-shadow: none;
      background-image: none;
      border-radius: 0;
      float: none;
      font-size: 1.5rem;
      padding: .5rem 1rem !important;
      width: 100% !important;
      padding-top: .4rem !important;
      height: 4rem;
      &:hover {
        background-image: none !important;
      }
  } }
  #nav {
    margin-top: 0;
    padding-bottom: 3rem;
    text-align: center;
    color: #ccc;

    &, a {
      font-variant: small-caps;
      text-transform: lowercase;
      /*text-shadow: 0px 1px 0px #173c56;*/
    }
  }
  #backtoblog {
    text-align: center;
    display: none;
  }
}

.message {}
.register { position: absolute; left: -9999px; }
/**
 * @see ls *.rtf *.txt | grep -v 'output.txt' | xargs grep -iIohE 'https?://[^[:space:]]+'
 */
#edit-slug-box {
  color: #fff;
}
#poststuff {
  background-color: #27608A;
  @extend .animated;
  @extend .bounce-in-left;
  h3 {
    color: #ccc;
  }
}
#poststuff {
  label { color: #111; }
}

@include media($small) {
  .wp-core-ui .button {
    width: 50% !important;
  }
}
#wpcontent {
  background-color: #27608A;
}

#wpbody-content {
  background-color: #27608A;
}
.hndle {
  color: #f1f1f1;
}
.postbox {
  color: #f1f1f1;
  background-color: #27608A;
  a {
    color: #fff;
    &:link {

    }
    &:hover {

    }
    &:visited {
      background-color: #f1f1f1;
    }
  }
}

#post-body {
  color: #ccc;
  display: flex;
  flex-direction: column;
}

#postbox-container-1 {

}

.meta-box-sortables {
  
}
.ui-sortable {}

.wp-editor-container {}
.textarea.wp-editor-area {
  float: left;
}

.has-dfw {}
.quicktags-toolbar {
  display: flex;
  flex-direction: row;
} 
.has-dfw div.mce-toolbar-grp {}
.mce-toolbar.mce-first {} 

.selectit {
  color: #222222;
}

#wpwrap {
  /*color: #fff;*/
}

#reg_passmail {
  color: #ccc;
  margin-top: .5rem;
  text-align: center;
  position: absolute;
  left: -9999px;
}

.register-form--role {
  /*border: 3px #ccc solid;*/
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: .55rem;
  margin-top: 1rem;
  margin-right: 38.3%;
  padding-bottom: 0.53rem;
  left: 19%;
  position: relative;
  label {
    &:first-child {
      border-right: 4px #ccc solid;
      margin-left: -0.4rem;
    }
    background-color: #fff;
    padding: .5rem 1rem;
    input {
      position: absolute;
      left: -9999px;
    }
  }
  label.active {
    background-color: #177A72;
    .inner-label {
      color: #fff;
      /*
       *text-shadow: 0px 1px 0px #0f5650;
       */
    }
  }
}

p.description {
  color: #fff;
}
fieldset {
  color: #444;
}
.form-table {
  color: #fff;
}
.form-table th {
  color: #fff;
}

body.wp-admin a,
body.wp-admin a:link {
  color: #c1c1c1;
}

body.wp-admin a:visited {
  color: #a1a1a1;
}

.update-nag {
  color: #111;
}
.control-section {
  color: #111;
  h3 { color: #111; }
  p.description {
    color: #111;
  }
}

.accordion-section-title:after, 
.handlediv, 
.item-edit, 
.sidebar-name-arrow, 
.widget-action {
  color: #111;

}

.manage-menus {
  color: #111;
}

.wpcf7.not-logged-in {
  display: none;
}

html {
  background-color: #28608A;
}

#wpbody h2,
#wpbody h3 {
  color: #f9f9f9;
}

#login_error {
  a, a:link {
    text-decoration: none;
    color: #28608A !important; }

  color: #111;
}


#editable-post-name {
  color: #111;
}

input,
textarea {
  outline: none !important;
}

.howto {
  color: #93CED9;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

.subsubsub a .count, .subsubsub a.current .count {
  color: #93CED9;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

.subsubsub a {
  color: #f9f9f9 !important;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

.form-wrap p {
  color: #e9e9e9;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

.form-wrap label {
  color: #e9e9e9;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

.consoleHeadText {
  color: #b9b9b9;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px;
}

#wpbody .wfTabsContainer {
  color: #444;
  h2 {
    color: #444;
  }
}

#wpbody .wfPaidOnlyNotice {
  color: #444;
}

#wp-admin-bar-wp-logo {
  display: none !important;
}

.form-table td fieldset label {
  color: #fff;
}
