// variables
$color1: #222;
$color2: #efefef;
$color3: #51955B;

$bgColor1: #C9DEDB;

// default styling
body {
  background-color: $bgColor1;
	/*background: $color3;*/
	/*color: $color2;*/
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	color: $color3;
	text-decoration: none;
}

h1 a {
	color: $color2;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	/*border: 1px solid $color1;*/
  border: none;
	background: $color2;
	padding: 0.3em 0.4em;
	/*box-shadow: inset -1px -1px 6px $color1;*/
}

/**
 * Contact Form 7
 * @extends gos
 */
.wpcf7-form input, .wpcf7-form textarea {
  width: 100%;
  border: 1px #b8b452 solid;
}

/**
 * @note Think Framework7 implementation.
 * @note Think of this as the <head> of the Document.
 */
.site {
	overflow: hidden;
	/*background: rgba($color1, 0.85);*/
	@include outer-container;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
