
body.home {

  .home-widgets,
  .home-search-widgets {
    ul {
      @include row();
      @include clearfix;
      padding-left: 0;
    }
  }

  .home-widgets .widget {
    background-color: #fff;
    article {
      @include clearfix;
      /*
       *&:before {
       *  background-image: url('./images/test-bg-1.jpg'); 
       *  background-size: 100% auto;
       *  background-repeat: no-repeat;
       *  background-position: center -20px;
       *  content: " ";
       *  @include span-columns(12);
       *  height: 230px;
       *  margin-bottom: 1rem;
       *}
       */

      margin-bottom: 1rem;
      border-bottom: 1px #ccc solid;
      header { }
      .published {
        padding-left: .5rem;
        &:before { content: 'Posted '; color: green; }
        color: #111; }
      h4 { margin: 0; padding: 0 .5rem; }
      a { color: #111; text-decoration: none; }
      header {
        @include span-columns(12);
      }
      .entry-image {
        text-align: center;
        @include span-columns(4);
        img { max-width: 50%; }
      }
      .entry-meta {
        @include span-columns(8);
      }
      .entry-title {
        @include span-columns(8);
        @include omega();
      }
      .entry-summary {
        @include span-columns(12);
      }
      .entry-summary p {
        margin: 0;
        padding: 0 .5rem;
        text-align: right; }
    }

    p { text-align: left; }
  }

  /**
   * Home Widgets Case for All Users
   * Uses media queries for responsive cases, based on Bourbon Neat.
   */
  .home-widgets {

    @include span-columns(12);

    .widget {
      padding: 0;
    }

    @include media($small) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($medium) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($large) {
      .widget {
        @include span-columns(4);
      }
    }

  }

  .home-search-widgets {

    .widget_search {

      &:before {
        font-family: FontAwesome;
        /*content: "\f095";*/
        content: "\f0c9";
        position: absolute;
        /*right: 0;*/
        @include shift(10);
        top: 2.5rem;
        width: 50px;
        height: 50px;
      }

      /**
       * Default Cases
       */
      @include span-columns(12);
      @include font-size(0.8);

      @include media($small) {
        @include span-columns(12);
        @include font-size(0.8);
      }

    }

    #s {
      @include span-columns(10);
      padding: 1rem;
      opacity: .4;
      @include transition (all .5s ease-in-out);
      &:hover {
        opacity: 1;
        & + #searchsubmit {
          opacity: 1;
        }
        /*
         *@extend .pulse !optional;
         *@extend .animated !optional;
         */
      }
    }


    #searchsubmit {
      opacity: .4;
      @include span-columns(2);
      @include transition (all .5s ease-in-out);
      padding: 1rem;
      text-indent: -9999px;
      position: relative;
    }

  }
  .home-widgets {
    text-align: left;
    li { }
  }
}

.module--employee--financial-summary {
  @include span-columns(10);
  @include shift(1);
  .inner {
  }
  dl {
    @include row;
    @include clearfix;
  }
  dt {
    @include span-columns(5);
  }
  dd {
    @include span-columns(5);
  }
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
}

/**
 * Search
 *
 * Technically a module from any front end framework's ontology. It's nothing 
 * more than a subtype of a button, which is obviously a module, or at least 
 * it must be built in a modular way.
 */
.search-title {
  opacity: .4;
  &:hover {
    @include transition (all .5s ease-in-out);
    opacity: 1;
  }
  input[type="text"] {
    border-bottom: 1px solid #111;
  }
}


body.login {
  background: #C9DEDB;
  a {
    color: #fff !important;
    text-shadow: 0 0 1px #444;
  }
}
.login #backtoblog {
}

body.login,
body.login input {
  font-family: 'Open Sans', sans-serif;
}
body.login #login,
body.login #lostpasswordform {

  .button { 
    background-color: #ccc;
    border: 1px #ccc solid;
    color: #fff;
    text-shadow: 0 0 1px #444;
    box-shadow: none !important;
  }
  .button-primary {
  }
  .button-large {
  }

  h1 {
    a {
      background-image: url('./images/logo.png');
    }
  }
  .message {
    background-color: #f1f1f1;
    color: #333;
  }
  .input {
    background-color: #ccc;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #fff;
  }
  & form {
    background-color: #f1f1f1;
    label {
      color: #111; 
    }
  }
  .forgetmenot { }
  .submit { }
  #nav { }
  #backtoblog { }
}
