
@mixin disabled () {
  .entry-summary,
  .entry-meta,
  .entry-image {
    position: absolute;
    left: -9999px;
  }
}

.search-title {
  @include search-block();
}

body.search-results {
  .page-content {
    .__unstyled {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include span-columns(12);
    @include clearfix;

    @include media($small) {
      li {
        @include span-columns(12);
      }
    }

    @include media($medium) {
      li {
        @include span-columns(12);
      }
    }

    @include media($large) {
      li {
        @include span-columns(4);
        @include omega(3n);
      }
    }

    @include employee-posting();
    @include job-posting();
  }
}

body.home {

  .home-widgets,
  .home-search-widgets {
    ul {
      @include clearfix;
      margin: 0;
      padding: 0;
    }
  }

  .home-widgets {
    ul {
      @include media($small) {
        @include span-columns(12);
      }
      @include media($medium) {
        @include span-columns(12);
      }
      @include media($large) {
        @include span-columns(12);
        @include pad(0 default);
      }
      li {
        a {
          @include pad(0 default);
        }
      }
    }
  }

  .home-widgets .widget {
    p { text-align: left; }

    background-color: #fff;
    /*border-radius: .1rem;*/
    overflow: hidden;
    @include job-posting();
  }

  /**
   * Home Widgets Case for All Users
   * Uses media queries for responsive cases, based on Bourbon Neat.
   */
  .home-widgets {
    position: relative;

    &:after {
      content: "Join us in real-time collaboration";
      font-weight: 700;
      font-variant: small-caps;
      text-transform: lowercase;
      position: absolute;
      left: 1%;
      font-style: italic;
      font-size: 2rem;
      text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
      rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
      rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px; 
      color: #199CA9;
      color: #fff;



      @include media($small) {
        bottom: -30%;
      }

      @include media($medium) {
        bottom: -30%;
      }

      @include media($large) {
        bottom: -70%;
      }
    }

    ul {
      padding: 0;
      .upw-posts {
        .entry-content {
          @include pad(0 0);
        }
      }
    }
    h2 {
      margin: 0;
      padding: 0 .5rem;
      /*background-color: #054481;*/
      background-color: #27608A;
      text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
      rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
      rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px; 
      color: #fff;
      text-align: center;
    }
    @include span-columns(12);

    h2.widgettitle {
      background-color: #199ca9;
      text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
      rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
      rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px; 
    }

    .widget {
      padding: 0;
    }

    @include media($small) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($medium) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($large) {
      .widget {
        @include span-columns(4, block-collapse);
        @include omega();
      }
    }

  }

  .home-search-widgets {

    ul {
      margin: 0 0 0;
    }

    @include search-block();

  }

  .home-widgets {
    text-align: left;
    li { }
  }
}

.module--employee--financial-summary {
  @include span-columns(10);
  @include shift(1);
  .inner {
  }
  dl {
    @include row;
    @include clearfix;
  }
  dt {
    @include span-columns(5);
  }
  dd {
    @include span-columns(5);
  }
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
}

/**
 * Search
 *
 * Technically a module from any front end framework's ontology. It's nothing 
 * more than a subtype of a button, which is obviously a module, or at least 
 * it must be built in a modular way.
 */
.search-title {
  opacity: .4;
  &:hover {
    @include transition (all .5s ease-in-out);
    opacity: 1;
  }
  input[type="text"] {
    border-bottom: 1px solid #111;
  }
}


body.login {
  background: #C9DEDB;
  a {
    color: #fff !important;
    text-shadow: 0 0 1px #444;
  }
}
.login #backtoblog {
}

body.login,
body.login input {
  font-family: 'Open Sans', sans-serif;
}
body.login #login,
body.login #lostpasswordform {

  .button { 
    background-color: #ccc;
    border: 1px #ccc solid;
    color: #fff;
    text-shadow: 0 0 1px #444;
    box-shadow: none !important;
  }
  .button-primary {
  }
  .button-large {
  }

  h1 {
    a {
      /*background-image: url('./images/logo.png');*/
      background-image: url('http://placehold.it/500x500');
    }
  }
  .message {
    background-color: #f1f1f1;
    color: #333;
  }
  .input {
    background-color: #ccc;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #fff;
  }
  & form {
    background-color: #f1f1f1;
    label {
      color: #111; 
    }
  }
  .forgetmenot { }
  .submit { }
  #nav { }
  #backtoblog { }
}


.footer-after-content-widgets {
  .widget h2 { margin-bottom: 0; border-bottom: none; }
  ul {
    @include clearfix;
    margin: 0;
    padding: 0;
  }
  ul {
    border-bottom: .1rem solid #199CA9;
    @include media($small) {
      @include span-columns(12);
    }
    @include media($medium) {
      @include span-columns(12);
    }
    @include media($large) {
      @include span-columns(12);
    }
    li {
      a {
        display: block;
        padding: .5rem 0;
        color: #fff;
      }
      $num: 5;
      @for $i from 0 to $num {
        &:nth-of-type(#{$i}) {
          background-color: adjust-color(#ccc, $blue: $i*10, $red: $i*10, $green: $i*10);
          a {
            color: adjust-color(#111, $blue: $i*30, $red: $i*30, $green: $i*30);
          }
        }
      }
    }
  }

  .widget {
    ul { padding: 0; list-style: none; }
    p { text-align: left; }

    background-color: #fff;
    /*border-radius: .1rem;*/
    overflow: hidden;
    @include job-posting();
  }

  /**
   * Home Widgets Case for All Users
   * Uses media queries for responsive cases, based on Bourbon Neat.
   */
  & {
    position: relative;

    h2 {
      margin: 0;
      padding: 0 .5rem;
      /*background-color: #054481;*/
      background-color: #27608A;
      text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
      rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
      rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px; 
      color: #fff;
      text-align: center;
    }
    @include span-columns(12);

    h2.widgettitle {
      background-color: #199ca9;
      text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
      rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
      rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px; 
    }

    .widget {
      padding: 0;
    }

    @include media($small) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($medium) {
      .widget {
        @include span-columns(12);
      }
    }

    @include media($large) {
      .widget {
        @include span-columns(4, block-collapse);
        @include omega();
      }
    }

  }

}
