/******************************************************************************\
  General
\******************************************************************************/

article {
  @include clearfix;
  color: #222;
}

.archive-title {
  @include font-size(1.3);

  font-weight: normal;
  background: $color2;
  text-align:center;
  color: $color1;
  margin-top: 0;
  margin-bottom:0;
  padding: 0.6em 0;
}

.archive-description {
  @include font-size(0.9);

  font-style: italic;
  margin-top:0;
  background: $color2;
  color: $color1;
  text-align: center;
  padding-top:0;
  padding-bottom: 0.8em;

  p {
    margin:0;
  }

  form {
    margin-top:0.5em;
    margin-bottom: 0.6em;
  }

  input {
    box-shadow:none;
  }
}

/******************************************************************************\
  Standard-page
\******************************************************************************/

.post-title {
  @include span-columns(10);
  @include shift(1);

  /*
   *border-top: 0.03em solid $color2;
   *border-bottom: 0.03em solid $color2;
   *text-align: center;
   */
  margin-bottom: 0.2em;
  color: #222;

  a {
    color: #222;
  }

  &:first-child {
    margin-top: 1em;
  }
}

.single {
  .attachment-full {
    float: right;
    max-width: 50%;
    margin: 1rem;
  }
}
.single .post-title {
  margin-left: 1rem;
  margin-right: 1rem !important;
  /*
   *@include shift(.5);
   */
  &:first-child {
    margin-top: 1em;
  }
}

body.single-job_posting .page-content article.job_posting h1.post-title {
  @include span-columns(11);
}

.post-meta {
  @include span-columns(10);
  @include shift(1);

  /*text-align: center;*/
  font-style: italic;
}

.post-content {
  @include span-columns(10);
  @include shift(1);

  position: relative;
  /*background: $color2;*/
  /*color: $color1;*/
  /*padding: 1.5em;*/
  margin-top: 1.5em;
}

.page .post-content {
  margin-bottom:3.5em;
}


/******************************************************************************\
  Front-page and archives
\******************************************************************************/

.home, .archive, .search, .author {
  .post-content {
    @include span-columns(8);
    @include shift(2);

    background: none;
    /*color: $color2;*/
    padding: 0;
    text-align: center;
  }

}

.pagination {
  @include span-columns(12);

  border-bottom: 3px solid $color2;

  ul {
    list-style: none;
    text-align:center;
    margin: 1em 0 0 0;
    padding: 0.6em 0;
    background: $color1;
  }

  li {
    display: inline;
    margin: 0 0.5em;
  }
}


/******************************************************************************\
  Widgets
\******************************************************************************/

.page-content .widgets {
  @include outer-container;

  .widgettitle {
    color: #222;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;

    @include media($medium) { @include font-size(1.2); }

    @include media($large) { @include font-size(2); }
  }

  .widget {
    @include span-columns(12);
    margin-bottom: 2em;
    color: shade($color1, 50%);

    &:last-child { margin-bottom: 0; }

    @include media($medium) {
      @include span-columns(4);
      @include omega(3n);
      @include font-size(.8);
      margin-bottom: 0;
    }

    @include media($large) { @include font-size(1); };
  }

  .wp-post-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
  }

  .read-more {
    @include transition(padding .25s ease-in-out);
    /*border-bottom: 2px solid #fff;*/
    padding-bottom: 0.25em;

    &:hover {
      /*border-bottom: 2px solid #fff;*/
    }
  }
}

.wpcf7-form {
  input,
  textarea {
    /*border: 1px solid #333;*/
  }
}

/**
 *
 */
/*
 *body.search-results {
 *  .type-employee {
 *    @include span-columns(3, block-collapse);
 *  }
 *  .page-content {
 *    color: #222;
 *  }
 *}
 */

#schema_block {
  background-color: transparent;
  margin-top: 1rem;
  padding: 0;
  border: none;
  color: #222;
}

div.wpcf7 {
  color: #222;
  input { color: #000; }
  /*@include shift(-1);*/
  @include span-columns(12);
}

.home-benefits {
  clear: both;
  @include clearfix;

  &:before {
    background-image: url('./images/bg-underlay-1.jpg');
    background-size: cover;
    height: 500px;
    margin-bottom: 3rem;
    @include image-rendering(optimizeQuality);
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    @include span-columns(12);
    border-bottom: .8rem #f3f3f3 solid;
    border-top: .8rem #f3f3f3 solid;
  }

  &:after {
    border-top: .8rem #f3f3f3 solid;
    /*border-bottom: .8rem #f3f3f3 solid;*/
    background-image: url('./images/bg-underlay-2.jpg');
    background-size: cover;
    height: 500px;
    margin-top: 2rem;
    @include image-rendering(optimizeQuality);
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    @include span-columns(12);
  }

  ul {
    @include span-columns(12);
    @include pad(0 default);
    @include clearfix;
    margin: 0;
  }

  .widget {
    /*background-color: #BACFCB;*/
    padding: 0;
    position: relative;

    @include media($small) {
      @include span-columns(12);
    }

    @include media($medium) {
      @include span-columns(12);
    }

    @include media($large) {
      @include span-columns(4);
    }

  }
}

.home-benefits {
  & > * {
  }
  h2 {
    color: #27608A;
    padding-bottom: .5rem;
  }
  ul {
    position: relative;
    &:after {
      content: "Your piece, our board";
      font-family: 'Raleway', sans-serif;
      position: absolute;
      font-style: italic;
      text-align: right;
      font-size: 2rem;
      color: #199CA9;
      color: #fff;

      text-shadow: -1px 0px rgba(0, 0, 0, 0.3), 0px -1px rgba(0, 0, 0, 0.3), 0px 1px rgba(255, 255, 255, 0.1), -1px -1px rgba(0, 0, 0, 0.3);

      font-weight: 500;
      font-variant: small-caps;
      text-transform: lowercase;
      right: 10%;
      bottom: -250px;
      width: 100%;
      border-top: 3px #199ca9 solid;

      @include media($small) {
      }
      @include media($medium) {
      }
      @include media($large) {
      }
    }
  }
  padding-top: 5rem;

  .home--benefits-first,
  .home--benefits-second,
  .home--benefits-third {
    padding-bottom: .5rem;
    border-bottom: .1rem #efefef solid;

    p {
      text-align: justify;
      margin: 0 .5rem;
    }
    h1, h2 , h3, h4 {
      text-align: center;
      padding-top: 9rem;
    }

    @include media($medium) {
      h1, h2, h3, h4 {
        font-size: 1.2rem;
      }
      @include span-columns(12);
      margin-bottom: 3rem;
      font-size: .8rem;
    }

    @include media($small) {
      h1, h2, h3, h4 {
        font-size: 1.2rem;
      }
      @include span-columns(12);
      margin-bottom: 3rem;
      font-size: .8rem;
    }
    @include media($large) {
      h1, h2, h3, h4 {
        font-size: 1.2rem;
      }
      @include span-columns(4);
      margin-bottom: 3rem;
      font-size: .8rem;
    }
    &:before {
      color: #99C9D9;
    }
  }
  .home--benefits-first {
    &:hover {
      &:before {
        @extend .animated;
        @extend .tada;
      }
    }

    .widgettitle:before {
      @extend .fa-check;
      @extend .fa;
    }
    &:before {
      font-family: 'FontAwesome';
      /*@include shift(10);*/
      /*content: "\f0c9";*/
      content: "\f1d9";
      font-size: 6rem;
      position: absolute;
      @include span-columns(12);
      text-align: center;
      top: 0;
    }
  }

  .home--benefits-second {
    &:hover {
      &:before {
        @extend .animated;
        @extend .shake;
      }
    }

    &:before {
      font-family: 'FontAwesome';
      /*@include shift(10);*/
      /*content: "\f0c9";*/
      content: "\f074";
      font-size: 6rem;
      position: absolute;
      @include span-columns(12);
      text-align: center;
      top: 0;
    }
  }

  .home--benefits-third {
    &:hover {
      &:before {
        @extend .animated;
        @extend .pulse;
      }
    }

    &:before {
      font-family: 'FontAwesome';
      /*@include shift(10);*/
      /*content: "\f0c9";*/
      content: "\f0ac";
      font-size: 6rem;
      position: absolute;
      @include span-columns(12);
      text-align: center;
      top: 0;
    }
  }
}

#comments {
  display: none;
}

body.single {
  .post-content {
    margin-bottom: 2rem;
  }
}

.comment-meta {
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
  background: #e9e9e9;
  margin-top: 2vh;
}
