$type: '.post';
@mixin employee-posting() {
  #{$type}-title,
  #{$type}-meta,
  #{$type}-content {
    margin: 0;
    @include span-columns(12);
  }

  #{$type}-title {
    padding: .5rem .5rem;
  }

  article.employee {

    .post-title {
      background-color: #054481;
      color: #fff;
      font-size: 1rem;
      a { color: #fff; }
    }
    .post-meta {}
    .edit-link {

    }
    .post-edit-link {

    }
    .post-content {

    }
    .module--employee--financial-summary {

    }
  }//.employee
  .google-maps-builder-wrap {
    display: none;
  }
}

.wpcf7-response-output { 
  @include shift(-1);
  @include span-columns(12);
}
.wpcf7-display-none {} 
.wpcf7-mail-sent-ok {}
