.footer-widgets {
  @include clearfix;
  @include span-columns(12);

  background: $color1;
  padding: 1.5em 0;
  list-style: none;
  margin: 0;
  margin-top: 5rem;
  .home--base-menu {
    @include span-columns(12);
    .menu-base-container {
      ul.menu {
        padding-left:  0;
        list-style: none;
        @include clearfix;
        @include span-columns(12);
        li {
          text-align: center;

          @include media($xlarge) {
            @include span-columns(2);
          }

          @include media($large) {
            @include span-columns(2);
          }

          @include media($medium) {
            @include span-columns(2);
          }

          @include media($small) {
            @include span-columns(6);
            @include omega(2n);
          }

        }
      }
    }
  }
}
