.footer-widgets {
  @include clearfix;
  @include span-columns(12);

  background-image: url('./images/bg-underlay-3.jpg');
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size: cover;
  border-top: 0.8rem solid #F3F3F3;
  @include pad(default 0);
  list-style: none;
  margin: 0;
  /*margin-top: 5rem;*/

  .footer--base-menu {
    @include span-columns(12);
    .menu-footer-menu-container {
      ul.menu {
        padding-left:  0;
        list-style: none;
        @include clearfix;
        @include span-columns(12);
        a {
          color: #fff;
          text-transform: lowercase;
          font-variant: small-caps;
        }
        li {
          text-align: left;

          @include media($xlarge) {
            @include span-columns(12);
          }

          @include media($large) {
            @include span-columns(12);
          }

          @include media($medium) {
            @include span-columns(12);
          }

          @include media($small) {
            @include span-columns(12);
            /*@include omega(2n);*/
          }

        }
      }
    }
  }
}
