.site-header {
  /*overflow: hidden;*/
  /*padding: 3em 0;*/
  position:relative;
  border-bottom: 3px solid $color2;
  @include clearfix;

  .logo {
    @include span-columns(10);
    @include shift(1);
    color: $color2;
    position: relative;
    z-index: 2;

    .site-name {
      text-indent: -9999px;
      text-align: left;
      background-image: url('./images/logo-idea-02.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 0.2em;
      @include span-columns(6);
      @include shift(3);
      text-align: center;
      text-shadow: 0 0 .5em $color1;
      height: 150px;
    }

    .site-description {
      position: absolute;
      left: -9999px;
      margin-bottom: 1.5em;
      text-align: center;
      font-style: italic;
      text-shadow: 0 0 .5em $color1;
    }
  }

  div.menu {
    @include span-columns(12);
    /*
     *@include span-columns(10);
     *@include shift(1);
     */
  }
  .menu .main-menu .menu {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      @include span-columns(6);
      @include omega(2n);
      @include media($medium) {
        @include span-columns(6);
        @include omega(2n);
      }
      @include media($large) {
        @include span-columns(2);
      }
      text-align: center;
    }
    .menu-item { }
    .menu-item-type-post_type { }
    .menu-item-object-page { }
  }
}
