.site-header {
  background-color: #0B4E9E;
  background-color: #A9CCC0;
  padding-bottom: 1rem;
  /*overflow: hidden;*/
  /*padding: 3em 0;*/
  position:relative;
  /*border-bottom: 3px solid $color2;*/
  @include clearfix;

  .logo {
    @include span-columns(4);
    /*@include shift(1);*/
    color: $color2;
    position: relative;
    z-index: 2;
    padding: .5rem 0;

    .site-name {
      text-indent: -9999px;
      text-align: left;
      background-image: url('./images/logo-idea-02.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      /*margin-bottom: 0.2em;*/
      /*@include span-columns(3);*/
      /*@include shift(3);*/
      /*text-align: center;*/
      /*text-shadow: 0 0 .5em $color1;*/
      height: 4rem;
    }

    .site-description {
      position: absolute;
      left: -9999px;
      margin-bottom: 1.5em;
      text-align: center;
      font-style: italic;
      text-shadow: 0 0 .5em $color1;
    }
  }

  div.menu {
    @include span-columns(8);
    /*
     *@include span-columns(10);
     *@include shift(1);
     */
  }
  .main-menu {
    @include clearfix;
    /*padding-bottom: 20px;*/
    padding-top: 0;
  }
  .menu .main-menu .menu {
    margin: 0;
    padding: 0;
    @include clearfix;
    @include span-columns(12);
    li {
      list-style: none;
      text-align: center;

      @include media($xlarge) {
        @include span-columns(3);
      }

      @include media($large) {
        @include span-columns(3);
      }

      @include media($medium) {
        @include span-columns(3);
      }

      @include media($small) {
        @include span-columns(6);
        @include omega(2n);
      }

      a {
        display: block;
        padding: .5rem 0;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
      }

    }
    .menu-item { }
    .menu-item-type-post_type { }
    .menu-item-object-page { }
  }
}
