.site-header {
  overflow: hidden;
  padding: 3em 0;
  position:relative;
  height: 300px;
  border-bottom: 3px solid $color2;

  .logo {
    @include span-columns(10);
    @include shift(1);
    color: $color2;
    position: relative;
    z-index: 2;

    .blog-name {
      margin-bottom: 0.2em;
      text-align: center;
      text-shadow: 0 0 .5em $color1;
    }

    .blog-description {
      margin-bottom: 1.5em;
      text-align: center;
      font-style: italic;
      text-shadow: 0 0 .5em $color1;
    }
  }

  div.menu {
    @include span-columns(10);
    @include shift(1);
  }
  .menu .main-menu .menu {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      @include span-columns(6);
      text-align: center;
    }
    .menu-item { }
    .menu-item-type-post_type { }
    .menu-item-object-page { }
  }
}
