/*
 * Circle Extender
 * @depnds css3
 *
 * :: Scholia to namespacing involves the idea that syntactical 
 *    classmogrifications exist everywhere.
 *
 * Primarily for narratological taxonomies that may sprite up within 
 * the network.
 *
 * We have demonstrated a reduction in the general interactive case an 
 * interface to a simple modality of on-click surface area.
 */
.circle {
  width         : 500px;
  height        : 500px;
  border-radius : 50%;
  font-size     : 50px;
  color         : #fff;
  line-height   : 500px;
  text-align    : center;
  background    : #000
}

.sticky {

  background: none;

  .post-title {}
}

a {
  text-decoration: none;
  outline: 0 !important;
  &:hover {
    outline: 0 !important;
  }
}

object, embed { 
  outline: 0 !important;
}

input::-moz-focus-inner { 
  border: 0 !important; 
}


.alignleft {
  float:left;
}

.alignright {
  float:right;
}

.aligncenter {
  float: none;
}

.wp-caption-text {
  background: $color1;
}

.gallery-caption {
  background: $color1;
}

.bypostauthor {
  background: $color1;
}

.post-links {
  @include span-columns(12);

  /*@include clearfix;*/
  /*
   *width: 70%;
   *margin: 1em auto;
   */

  a {
    display: inline-block;
  }

  a:first-child {
    display: inline-block;
  }

}

.linked-page-nav {
  margin-top: 1em;
}

/**
 * Widget Specification — "All widgets are navigational properties of the content area."
 * Every widget is a kind of navigation element; many of the core WordPress 
 * widgets are nothing more than lists of various parts of the natural taxonomy.
 *
 * @extends https://schema.org/SiteNavigationElement
 */
.widget {
  /*@include span-columns(4);*/
  @include font-size(0.8);
  padding: 2em 1.8em;

  position: relative;

  h2 {
    @include font-size(1.1);
    margin-top: 0;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid $color2;
  }

  ul {
    padding-left: 1.6em;
  }

  p {
    text-align: justify;
  }
}

.widget:nth-child(3n) {
  @include omega();
}

.widget:nth-child(3n+1) {
  clear                      : left;
}

.widget_search {

  label {
    display                  : block;
    padding                  : 0.2em 0;
  }

  input {
    /*width                  : 100%;*/
  }

}

#searchsubmit, #submit {
  /*padding                  : 0.3em 0.4em;*/
  /*border                   : 1px solid $color1;*/
  /*margin-top               : 0.2em;*/
  /*background-color         : $color3;*/
  /*color                    : $color1;*/
  box-shadow                 : none;
}

input[type="submit"] {
  background-color: #fff;
  /*min-height: 10rem;*/
}

/*
 *#comment-nav-above {
 *  .navigation {
 *  }
 *  &.comment-navigation {
 *  }
 *}
 */

.comments {
  background-image           : url();
  @include span-columns(12);
  /*@include shift(1);*/
  @include font-size(0.9);

  /*background-color          : $color1;*/
  margin-bottom               : 3em;
  /*padding                   : 2em;*/

  ol {
    list-style                : none;
    margin                    : 0;
    padding                   : 0;
  }

  .form-allowed-tags {
    display                   : none;
  }

  #reply {

    position: relative;
  }
  label {
    position                  : absolute;
    @include span-columns(4);
    @extend .circle;
  }

  label:nth-of-type(1) {
    position: absolute;
    left: 2rem;
  }

  label:nth-of-type(2) {
    position: absolute;
    left: 4rem;
  }

  label:nth-of-type(3) {
    position: absolute;
    left: 6rem;
  }

  label:nth-of-type(4) {
    position: absolute;
    left: 8rem;
  }

  input,textarea {
    @include span-columns(8);
    max-width                 : 100%;
    position                  : absolute;
    z-index                   : 9001;
    @extend .circle;

    &:nth-of-type(1) {
      /*
       *outline: 1px solid gold;
       */
      z-index: -1;
    }
  }
}

.comment-body {
  margin-bottom            : 1.5em;
}

.children .comment-body {
  padding-left             : 2em;
}

.comment-author {
  border-top               : 0.1em solid $color2;
  border-bottom            : 0.1em solid $color2;
  text-align               : center;
  padding                  : 0.6em 0;
  position                 : relative;

  img {
    position               : absolute;
    top                    : 0;
    bottom                 : 0;
    left                   : 0;
    height                 : 100%;
    width                  : auto;
  }
}

.byuser .comment-author {
  background-color         : $color3;
  color                    : $color1;

  a {
    color                  : $color1;
    text-decoration        : underline;
  }
}

.comment-meta {
  text-align               : center;
  margin-top               : 0.2em;
  margin-bottom            : 0.8em;
}

.comments-title {
  @include font-size(1.1);
  text-align               : center;
  margin-top               : 0;
}


#wp-admin-bar-wp-logo {
  display: none;
}
