body.wp-admin {
  /*
   *#footer-thankyou {
   *  display: none;
   *}
   */ }
  body.wp-admin ul, body.wp-admin ol {
    margin-bottom: 0; }
  body.wp-admin #footer-left {
    display: none; }
  body.wp-admin #footer-upgrade {
    display: none; }
  body.wp-admin.post-new-php input[value*="google_maps"] {
    display: none; }
