/*$small: new-breakpoint(max-width 480px and screen);*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  /*background: $color3;*/
  /*color: $color2;*/ }

body.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

a {
  color: #51955b;
  text-decoration: none; }

h1 a {
  color: #efefef; }

img {
  max-width: 100%;
  height: auto; }

input, textarea {
  /*border: 1px solid $color1;*/
  border: none;
  background: #efefef;
  padding: 0.3em 0.4em;
  /*box-shadow: inset -1px -1px 6px $color1;*/ }

/**
 * Contact Form 7
 * @extends gos
 */
.wpcf7-form input, .wpcf7-form textarea {
  width: 100%;
  background-color: white;
  /*border: 1px #b8b452 solid;*/ }

.wpcf7-form .wpcf7-form-control-wrap {
  float: left;
  display: block;
  margin-right: 3.06748%;
  width: 100%; }
  .wpcf7-form .wpcf7-form-control-wrap:last-child {
    margin-right: 0; }

/**
 * @note Think Framework7 implementation.
 * @note Think of this as the <head> of the Document.
 */
.site {
  overflow: hidden;
  /*background: rgba($color1, 0.85);*/
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto; }

.upw-posts article.post {
  border-bottom: none; }

.conceal {
  display: none;
  visibility: hidden; }

/******************************************************************************\
	Settings
\******************************************************************************/
html {
  font-size: 16px; }
  @media screen and (min-width: 481px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 1025px) {
    html {
      font-size: 20px; } }

/******************************************************************************\
	Font calculation mixins
\******************************************************************************/
/******************************************************************************\
	Standard font styling
\******************************************************************************/
body {
  font-family: 'Muli', 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400; }

em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

p, ul, ol {
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

blockquote {
  position: relative; }
  blockquote:before {
    display: block;
    float: left;
    content: "\"";
    font-size: 40px;
    font-size: 2.5rem;
    margin: 0 15px 15px 0; }

h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
  font-family: 'Raleway', 'Muli', sans-serif;
  line-height: 1.2;
  text-transform: uppercase; }
  @media screen and (min-width: 769px) {
    h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
      word-wrap: normal; } }

h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 481px) {
    h1, .h1 {
      font-size: 48px;
      font-size: 3rem; } }

h2, .h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 481px) {
    h2, .h2 {
      font-size: 32px;
      font-size: 2rem; } }

h3, .h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem; }
  @media screen and (min-width: 481px) {
    h3, .h3 {
      font-size: 19.2px;
      font-size: 1.2rem; } }

h4, h5, h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem; }

h2, h3 {
  page-break-after: avoid; }

p, h2, h3 {
  orphans: 3;
  widows: 3; }

p ~ h1 {
  margin-top: 3rem; }

html .mceContentBody {
  font-size: 100%;
  max-width: 650px; }
